$headerHeight: 80px;
$mobileHeaderHeight: 60px;
$primaryColor: #ffa7c4;
$linkHoverColor: #fff;
$backgroundColor: #282c35;
$mobileBackgroundColor: #1d222d;
$mobileHeaderBorderTopBorderColor: #0b1018;

$menuFontSize: 28px;

@font-face {
  font-family: "iosevka";
  src: url("../assets/fonts/iosevka-regular.ttf");
}

@mixin fixedBottom {
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@mixin linkColor {
  a {
    color: #fff;
  }
}

@mixin centering {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

@mixin contentSizing {
  max-width: 750px;
  min-width: 550px;

  @media (max-width: 600px) {
    max-width: 750px;
    min-width: 300px;
  }
}

@import "./home.scss";
@import "./contact.scss";
@import "./resume.scss";
@import "./blog.scss";
@import "./projects.scss";

html,
body {
  margin: 0;
  height: auto;
  font-family: Iosevka;
  max-width: 1000px;
  margin: auto;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 0;
  background: $backgroundColor;
  color: #fff;
}

a {
  color: $primaryColor;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background: $primaryColor;
    color: $linkHoverColor;
    cursor: pointer;
  }
}

h1 {
  font-size: 34px;
}

h2 {
  color: #97b3ce;
}

h3 {
  color: #69a589;
}

li {
  font-size: 22px;
  color: #69a589;

  a {
    color: #69a589;
  }
}

p {
  font-size: 20px;
}

.read-more {
  text-decoration: underline;
  background: $primaryColor;
  color: $linkHoverColor;

  &:hover {
    background: $linkHoverColor;
    color: $primaryColor;
  }
}

header {
  position: relative;
  margin: auto;
  padding: 0px 50px;
  height: $headerHeight;
  display: grid;
  grid-template-columns: auto 1fr;
  @include centering;
  justify-content: space-evenly;

  .logo {
    text-align: center;

    &:hover {
      a {
        background: $backgroundColor;
      }
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 15px;
    justify-content: flex-end;
    font-size: $menuFontSize;
    font-weight: bold;

    .active-menu {
      background: $primaryColor;
      color: $linkHoverColor;
    }

    a {
      color: $primaryColor;
      padding: 5px 10px;
      text-align: center;

      &:hover {
        color: $linkHoverColor;
      }
    }
  }
}

main {
  display: grid;
  justify-content: center;
  margin-bottom: $mobileHeaderHeight;
  align-items: flex-start;
  padding: 30px;
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr;

    .menu {
      position: fixed;
      background: $mobileBackgroundColor;
      @include fixedBottom;
      height: $mobileHeaderHeight;
      border-top: 1px solid $mobileHeaderBorderTopBorderColor;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: space-evenly;
      grid-template-columns: repeat(4, auto);
    }
  }

  .home {
    grid-template-columns: 1fr;
    grid-gap: 30px;

    .image-with-text {
      justify-content: center;
    }
  }
}

@media (max-width: 400px) {
  header {
    .menu {
      height: 40px;
      justify-content: center;
      a {
        $mobileHeaderHeight: 20px;
        font-size: 18px;
      }
    }
  }
}
